<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Print out SKUs</title>
    <style>

        html, body {
            margin: 0;
            padding: 0;
            border: 0;
        }

        .a4page {
            /* A4: 21cmx29.7cm */
            margin: 0;
            padding: 0;
            border: 0;
            height: 29.715cm;
            width: 21cm;
        }

        table {
            border:1px solid;
        }

        /*
        @media print {
          @page { margin: 0; }
          body { margin: 1.6cm; }
        }
        */

    </style>
</head>
<body onload="window.print()">

{% for range, barcode, sku, supplier in parameters %} <!-- for each different SKU line range -->
    {% for number in range %} <!-- for each number in the range -->
        <div class="a4page">
            <table>
                <tr>
                    <td>
                        <img src=https://d1nlri62pqla74.cloudfront.net/images/hellofresh-logo.png height=30 width=30 style="margin-left: auto; margin-right: auto; display: block;">
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src={{"http://www.barcodesinc.com/generator/image.php?code="}}{{barcode}}{{"&style=197&type=C128B&width=200&height=50&xres=1&font=3"}}
                    height=50 width=150 style="margin-left: auto; margin-right: auto; display: block;">
                    </td>
                </tr>

                <tr>
                    <td>
                        <h2 style="text-align:center">{{sku}}</h2>
                        <h2 style="text-align:center">{{supplier}}</h2>

                        <table style="width:100%; border:1px solid black;">
                            <tr>
                                <th>COUNT PER CRATE/BOX</th>
                                <td>2</td>
                            </tr>
                            <tr>
                                <th>TOTAL CRATE/BOX </th>
                                <td>3</td>
                            </tr>
                            <tr>
                                <th>TOTAL UNITS</th>
                                <td>4</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="text-align: center;">Pallet Version</p>
                        <img src={{"http://www.barcodesinc.com/generator/image.php?code="}}{{barcode}}{{"-"}}{{number}}{{"&style=197&type=C128B&width=200&height=50&xres=1&font=3"}}
                        height=50 width=150 style="margin-left: auto; margin-right: auto; display: block;">
                    </td>
                </tr>


            </table>
        </div>
    {% endfor %} <!-- number in range -->
{% endfor %} <!-- range in pallet_ranges -->

</body>

</html>